JWT_SECRET=
MONGODB_URI=
REFRESH_TOKEN_SECRET=
NEXT_PUBLIC_BASE_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
RAZORPAY_KEY_SECRET=
NEXT_PUBLIC_RAZORPAY_KEY_ID=
GROQ_API_KEY=