@import "tailwindcss";

:root {
  --background: #f9f8f6;
  --foreground: #171717;
  --nav-background: rgba(30, 30, 30, 0.4);
  --nav-foreground: #ededed;
  --primary-background: #1b1b1b;
  --dark-textfont: #1e1e1e;
  --prodcard-background: #e2ded3;
  --ghost-background: #f9f8f6;

  --star-fill: #edc06f;

  --usp-card-1: #0a3351;
  --usp-card-2: #576149;
  --usp-card-3: #ae8363;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nav-background: var(--nav-background);
  --color-nav-foreground: var(--nav-foreground);
  --color-primary-background: var(--primary-background);
  --color-dark-textfont: var(--dark-textfont);
  --color-prodcard-background: var(--prodcard-background);
  --color-ghost-background: var(--ghost-background);
  --color-star-fill: var(--star-fill);
  --font-sf-pro-text: var(--font-sf-pro-text);
  --font-comfortaa: var(--font-comfortaa);
  --color-usp-card-1: var(--usp-card-1);
  --color-usp-card-2: var(--usp-card-2);
  --color-usp-card-3: var(--usp-card-3);

  --spacing-screen-1: 100dvh;
  --spacing-screen-2: 200dvh;
}

body {
  @apply bg-background text-foreground font-sf-pro-text min-h-dvh max-w-dvw;
}
